<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %} -  Piece Analyzer</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/global.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="{{ path('index') }}">Piece Analyzer</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    {# Collect the nav links, forms, and other content for toggling #}
                    <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
                        {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'other/b4_knp_menu.html.twig'}) }}
                    </div>
                </nav>
            </div>
            <div class="content" style="margin-top: 60px;">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="callout {{type}}">{{message}}</div>
                    {% endfor %}
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
            <div class="container-fluid mt-5 bg-light ">
                <footer class="footer py-3 px-3">
                    <div  class="mx-auto text-muted">
                        <p>
                            Copyright © Tim Bernhard, {{"now"|date("Y")}}. All rights reserved.
                            This webservice is provided “AS IS” and without warranty of any kind, either express or implied.
                            LEGO® is a trademark of the LEGO Group of companies, which does not sponsor, authorize or endorse this service.
                        </p>
                    </div>
                </footer>
            </div>
            <div class="footer">
                <p>

                </p>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
